pandas
scikit-learn
numpy
sentence-transformers==2.2.2
#transformers==4.30.2
transformers==4.28.1
huggingface-hub==0.16.4
openpyxl
streamlit
llama-index
llama-parse
tqdm
llama-cloud-services
llama-index-core
llama-index-readers-file
python-dotenv
tokenizers==0.13.3
